@model Svapas.Models.Clothing
@{
    ViewBag.Title = "Show";
}

<h1> @Model.ClothingName </h1>
<div>
    <div class="clothingimages" style="width:150px; height: 150px">
        <img src="~/Content/images/c_@(Model.ClothingId).png" alt="@Model.ClothingName" style="width:100%; height:100%" />
    </div>
    <div>@Model.ClothingDem @Model.Category.CategoryName</div>
    <div>$@(Model.ClothingPrice / 100)</div>
</div>

<div>
    <a href="/Order/Buy/@Model.ClothingId"><button class="btn-primary">Order</button></a>
</div>



